.box {
  @include flex(flex-start, center);
}

.addboard {
  position: absolute;
  width: 35rem;
  height: 20rem;
  top: 5rem;
  z-index: 2;
  border-radius: 10px;
  background-color: #fff;
  color: #495057;
  box-shadow: $box-shadow;

  @include flex(center, space-between);

  flex-direction: column;

  &__title {
    @include flex(center, space-between);

    flex-direction: row;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid rgba(168, 172, 192, 0.3);
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 500;

    &__button {
      @include flex(center, center);

      font-size: 1.8rem;
      font-weight: 600;
      height: 25px;
      width: 25px;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background-color: rgba(206, 206, 206, 0.3);
        box-shadow: $box-shadow;
      }
    }
  }

  &__box {
    @include flex(flex-start, flex-start);

    flex-direction: column;
    width: 100%;
    height: 8rem;
    padding: 0 1rem;

    label {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
      height: 3rem;
      border: 1px solid rgba(206, 206, 206, 0.5);
      outline: none;
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }

  &__button {
    @include flex(center, flex-end);

    width: 100%;
    height: 5rem;
    margin-right: 2rem;

    &__close,
    &__add {
      @include flex(center, center);

      height: 3rem;
      width: 6rem;
      font-size: 1.2rem;
    }

    &__close {
      color: #7269ef;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__add {
      background-color: #7269ef;
      color: #fff;
      border-radius: 5px;

      &:hover {
        background-color: #6157ee;
        cursor: pointer;
      }
    }
  }
}
